.hero-chevron{
animation: chevron_moved 2s infinite;
}
.hero-label{
    cursor: pointer;
}

@keyframes chevron_moved{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }

}