.service-card{
    padding: 15px;
 
    background-color: white;
    border-radius: 15px ;
    box-shadow: 8px 8px 15px rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.service-card:hover{
    background-color: #41C9E2;
    cursor: pointer;
   
}
.service-card h2{
    font-weight: 900;
    color:#41C9E2 ;
}
.service-card:hover h2{
  
    color:#ffffff ;
}
.service-card .desc{
    font-weight: 500;
}
.service-card .price{
    font-size: 1em;
    font-weight: 800;
}
.services-container h1{
    font-weight: 900;
}
.price{
    color: #FF0000;
    
}